@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--page-margin-lr: 60px;
	--page-margin-t: 92px;
	--page-margin-b: 60px;

	/* Using tailwind design system */
	--font-base: 16px;
	--line-h-normal: 19.2px;

	/* text-3xl */
	--line-h-larger: 37.2px;
	--font-larger: 31px;

	--font-extra-small: 9.1px; /*discarding because this is too small*/

	/* Dimensions */
	--signup-width: 490px;
	--section-width: calc(1920px- var(--signup-width)-var(--page-margin-lr));

	/* colors */
	--text-primary: #19191a;
	--text-secondary: #f2f2f2;
	--text-tertiary: #96979a;
}
/*sidebar*/
.input-shadow {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
		0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}
.input-shadow:hover {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
		0px 4px 10px 0px rgba(0, 0, 0, 0.04), 0px 8px 20px 0px rgba(0, 0, 0, 0.04),
		0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}

h2 {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body {
	font-size: var(--font-base);
	font-family: 'Inter', sans-serif;
	color: var(--text-primary);
}

#main {
	grid-template-columns: 1fr 1fr;
	background-color: #19191a;
}

#background-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
@media (min-width: 1280px){
	#background-image {
		/* filter: drop-shadow(0px 0px 2000px black);	 */
		filter: opacity(80%);
	}
}

#sidebar-2{
	box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.622);
}

.notif-card {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	padding: 14px;
	font-size: 14px;
	height: 200px;
	width: 210px;
	min-width: 210px;
	/* height: 171.5px; */
	border-radius: 8.4px;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 27.5%,
			rgba(22, 93, 255, 0.16) 157.71%
		),
		#fff;
	box-shadow: 0px 0.7px 0.7px 0px rgba(0, 0, 0, 0.04),
		0px 2.8px 7px 0px rgba(0, 0, 0, 0.04);
}
